.main {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
}

.sidenav {
	flex: 10;
	min-height: 100vh;
	background-color: #fff;
	box-shadow: 0 7px 30px 0px rgba(112, 120, 131, 0.11);
	z-index: 10;
}

.sidenav > ul {
	display: flex;
	flex-direction: column;
	padding: 1em;
	list-style-type: none;
}

.outlet {
	flex: 60;
	background-color: #f2f2f2;
	padding: 2em 2em 0 2em;
	max-width: calc(100vw / 7 * 6);
}

.icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
}

.icon > h2 {
	cursor: default;
	margin-top: 0.25em;
}

.spin {
	animation: spin 20s linear infinite !important;
	width: 1.5em !important;
	height: 1.5em !important;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.navlist {
	display: inline-block;
	margin-top: 0.5em;
	height: 3em;
	cursor: pointer;
	background-color: #fff;
	transition: background-color 0.25s;
	border-radius: 0.5em;
}

.navlist:hover {
	background-color: #eee;
}

.navlist[data-focus='true'] {
	background-color: #ddd;
}

.navlist > a {
	color: #444;
	font-size: 1.25em;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.container {
	background-color: #fff;
	height: 100%;
	max-width: 100%;
	border-radius: 1em 1em 0 0;
	padding-top: 1em;
}

.container h1 {
	width: 100%;
	text-align: center;
	margin-bottom: 0.5em;
}

.opts {
	display: flex;
	align-items: flex-end;
	padding: 0 2em 0 5.1em;
}

.searchBar input {
	outline: none;
	border: none;
	border-bottom: 2px solid #1115;
	font-size: 1.1em;
}

.searchBar input:focus {
	border-bottom: 2px solid var(--green-darkest);
}

.addNew {
	margin-left: auto;
	margin-right: 1em;
}

.addNew > button {
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 1000px;
	background-color: #ededed;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.25em 0.5em 0.25em 1em;
}

.addNew > button:hover {
	background-color: #ddd;
}

.addNew > button > p {
	font-size: 1.5em;
	margin-right: 0.25em;
}

.table {
	display: block;
	margin-top: 0.5em;
	padding: 0 2em;
}

.table > table {
	border-collapse: collapse;
	max-width: 100%;
	width: 100%;
}

.table th,
.table td {
	border: 1px solid black;
}

.table td:not(:nth-child(2)) {
	text-align: center;
}

.table tr:hover {
	background-color: #eee;
}

.table td {
	padding: 0.25em 0.5em;
}

.table td:last-child {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.club th:first-child {
	width: 5%;
}

.club th:nth-child(2) {
	max-width: 20%;
}

.club th:nth-child(4) {
	max-width: 20%;
}

.club th:last-child {
	width: 20%;
}

.table td > button {
	outline: none;
	border: none;
	color: white;
	padding: 0.25em;
	border-radius: 0.25em;
	font-size: 0.8em;
	cursor: pointer;
}

.table td > button:first-child {
	background-color: var(--green-darkest);
}
.table td > button:nth-child(2) {
	background-color: #0ae;
}
.table td > button:last-child {
	background-color: #e20;
}

.post th:first-child {
	width: 5%;
}

.post th:nth-child(3) {
	width: 50%;
}

.post th:nth-child(2) {
	width: 25%;
}

.post th:last-child {
	width: 20%;
}

.table td:nth-child(2) {
	max-width: calc(25vw / 7 * 6 - 1em);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table td:nth-child(3) {
	max-width: calc(50vw / 7 * 6 - 2em);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.btnDiv {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1em;
	padding: 2em;
}

.btnDiv > button {
	padding: 0.25em 0.5em;
	border: none;
	outline: none;
	border-radius: 0.25em;
	background-color: inherit;
	cursor: pointer;
}

.btnDiv > button:hover {
	background-color: var(--bg-dark);
}

.focusedBtn {
	background-color: var(--bg-darker) !important;
}

.footballer th:first-child {
	width: 5%;
}

.footballer th:nth-child(3) {
	width: 15%;
}

.footballer th:nth-child(2) {
	width: 25%;
}

.footballer th:last-child {
	width: 20%;
}

.match th:first-child {
	width: 5%;
}

.match th:nth-child(3) {
	width: 15%;
}

.match th:nth-child(2) {
	width: 15%;
}

.match th:nth-child(4) {
	width: 15%;
}

.match th:last-child {
	width: 20%;
}
