.container {
	min-height: 100vh;
	min-width: 100vw;
	background: linear-gradient(to top left, #e0f787, #4ee3fa);
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginContainer {
	background-color: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(10px);
	box-shadow: 1px 1px 4px 2px rgba(127, 127, 127, 0.05);
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 1em;
	width: 20vw;
}

.spin {
	animation: spin 20s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.loginContainer > svg {
	width: 2em !important;
	height: 2em !important;
}

.loginContainer > form {
	width: 90%;
}

.loginContainer > form label {
	width: 100%;
}

.line {
	margin: 0.5em 0;
	height: 1px;
	width: 90%;
	background-color: #222;
}

.input {
	width: 100%;
	border-radius: 0.25em;
	outline: none;
	font-size: 1em;
	border: none;
	margin: 0.5em 0 0;
	padding: 0.5em;
	background-color: rgba(255, 255, 255, 0.5);
}

.inputErr {
	font-size: 0.75em;
	color: red;
	text-align: center;
	width: 100%;
}

.none {
	display: none;
}

.input:focus {
	border: none;
	outline: none;
}

.forget {
	margin-top: 0.25em;
	position: relative;
	height: 2em;
}

.forget input {
	font-size: 0.75em;
	margin-right: 0.25em;
}

.forget label {
	color: var(--text);
	font-size: 0.75em;
	margin-top: 0.15em;
	display: flex;
	align-items: center;
}

.forget a {
	color: var(--text);
	font-size: 0.75em;
	position: absolute;
	top: 0.15em;
	right: 0;
}

.loginBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
}

.loginBtn > button {
	background-color: var(--green-darkest);
	color: var(--bg);
	outline: none;
	border: none;
	border-radius: 1000px;
	padding: 1em 0;
	width: 100%;
	cursor: pointer;
}

.signup {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 5em;
	width: 90%;
}

.signup > a {
	display: block;
	padding: 1em 0;
	width: 100%;
	font-size: 0.83333em;
	color: var(--text);
	background-color: var(--bg);
	text-align: center;
	border-radius: 1000px;
}

.signup > a:hover {
	background-color: var(--bg-darker);
}

.optField label {
	margin-bottom: 0.25em;
}

.otp {
	margin-top: 0.25em;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.otp > .input {
	margin: 0;
}

.otp > button {
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
	color: var(--green-darkest);
	font-weight: 600;
}
