.container {
	background-color: var(--bg);
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	height: 100%;
	padding-top: 1em;
}

.container ul {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	padding: 0 1em;
	max-width: 69.1vw;
}

.container li {
	list-style-type: none;
	width: calc(100% - 0.5em);
}

.container h1,
.container p {
	color: var(--text);
}
