.container {
	background-color: var(--bg);
	min-height: calc(92vh - 1em);
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	box-shadow: 0 0 4px 1px rgba(128, 128, 128, 0.15);
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

.container::-webkit-scrollbar {
	display: none;
}

.tabBar {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	height: 6vh;
	position: relative;
	justify-content: space-evenly;
	border-bottom: 1px solid rgba(128, 128, 128, 0.15);
}

.tabItem {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 80%;
	margin-top: 0.6vh;
	border-radius: 0.25em;
	transition: background-color 0.25s;
}

.tabItem > span {
	transition: background-color 0.25s;
}

.tabItem[data-focused='true'] > span {
	color: var(--green-darkest);
}

.tabItem[data-focused='false']:hover {
	background-color: var(--bg-darker);
}

.underline {
	position: absolute;
	bottom: -2px;
	height: 2px;
	width: 32.5%;
	background-color: var(--green-darkest);
	transition: left 0.25s;
}

.content {
	padding: 1em;
}

.mainHead {
	display: flex;
	flex-direction: row;
	align-items: end;
}

.mainHead img {
	margin-right: 1em;
	width: 5em;
	height: 5em;
	border-radius: 1000px;
	object-fit: cover;
}

.mainHead > div {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5em;
	width: 100%;
}

.followBtn {
	margin-left: auto;
	padding: 0.5em 0;
	font-size: 1.1em;
	font-weight: 500;
	cursor: pointer;
	margin-right: 4em;
	border-radius: 0.5em;
	color: var(--green-darkest);
	border: none;
	outline: none;
	min-width: 12em;
}
.followedBtn {
	margin-left: auto;
	padding: 0.5em 0;
	font-size: 1.1em;
	font-weight: 500;
	cursor: pointer;
	margin-right: 4em;
	border-radius: 0.5em;
	background-color: var(--green-darkest);
	color: var(--bg);
	border: none;
	outline: none;
	min-width: 12em;
}

.mainTab > div:not(:first-child) {
	margin-top: 1em;
}
