.container {
	background-color: var(--bg);
	padding: 1em;
	margin: 0 5vw;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	box-shadow: 0 0 4px 1px rgba(128, 128, 128, 0.15);
}

.content > h1 {
	font-size: 2em;
	margin-bottom: 0.5em;
}

.content > h3 {
	margin-bottom: 0.5em;
}

.content > div > p {
	margin-bottom: 1em;
}

.line {
	height: 1px;
	background-color: var(--bg-darker);
	width: 100%;
}

.comments > p {
	margin: 0.5em 0;
}

.comments > ul {
	list-style-type: none;
}

.userComment {
	display: flex;
	flex-direction: row;
	position: relative;
	padding: 1em 0;
}

.userComment > div:first-child {
	flex: 1;
}

.userComment > div:first-child > svg {
	width: 1.5em !important;
	height: 1.5em !important;
	margin-right: 0.3em;
}

.userComment > form {
	flex: 19;
}

.userCommentText {
	display: block;
	resize: none;
	width: 100%;
	border-radius: 0.5em;
	border: 1px solid #8885;
	outline: none;
	font-size: 1em;
	padding: 0.5em;
}

.userCommentText::placeholder {
	color: #8885;
}

.btn {
	outline: none;
	background-color: var(--green-darkest);
	color: var(--bg);
	border: none;
	border-radius: 0.5em;
	padding: 0.75em 2em;
	margin-top: 0.5em;
	margin-right: auto;
	cursor: pointer;
}

.commentContainer {
	margin-top: 1em;
	display: flex;
	flex-direction: row;
}

.icon {
	flex: 1;
}

.icon > svg {
	width: 1.5em !important;
	height: 1.5em !important;
	margin-right: 0.3em;
}

.commentBlock {
	flex: 19;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.opts {
	display: none;
	border-radius: 50%;
	width: 2em;
	height: 2em;
	justify-content: center;
	align-items: center;
	margin-left: 0.25em;
}

.commentBlock:hover > .opts:hover {
	background-color: #ddd;
}

.commentBlock:hover > .opts {
	display: flex;
}

.commentBG {
	background-color: var(--bg-dark);
	padding: 0.5em 1em;
	border-radius: 0.75em;
	position: relative;
}

.commentEditBg {
	width: 100%;
	border-radius: 0.75em;
	position: relative;
}

.username {
	font-weight: 700;
	font-size: 0.8em;
}

.dropdown {
	position: absolute;
	right: -7.5em;
	bottom: -170%;
	background-color: white;
	z-index: 10;
	border-radius: 0.5em;
	padding: 0.5em;
	min-width: 15em;
	filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.2));
}

.dropdown.divOffset {
	bottom: 120%;
}

.dropdown > svg {
	right: 5em;
	top: 100%;
	fill: white;
	position: absolute;
}

.dropdown > svg.offset {
	top: -11px;
	transform: scale(1, -1) translate(0px, 0px);
}

.dropdownOpt > div {
	padding: 0.5em;
	cursor: pointer;
	transition: background-color 0.15s;
	border-radius: 0.3em;
}

.dropdownOpt > div:hover {
	background-color: var(--bg-dark);
}

.del {
	position: sticky;
	z-index: 1000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background-color: #fff8;
	display: flex;
	justify-content: center;
	align-items: center;
}

.delForm {
	background-color: var(--bg);
	padding: 0 1em 1em;
	border-radius: 0.5em;
	box-shadow: 0 0 5px 5px rgba(112, 120, 132, 0.1);
	min-width: 30vw;
}

.delForm > hr {
	border-color: #fff8;
}

.delHeader {
	height: 4em;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.delHeader > h1 {
	width: 100%;
	text-align: center;
	font-size: 1.25em;
}

.delHeader > button {
	outline: none;
	border: none;
	border-radius: 50%;
	height: 3em;
	width: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: absolute;
	right: 0;
}

.delHeader > button:hover {
	background-color: var(--bg-darker);
}

.delDetail {
	margin-top: 0.5em;
}

.btnDiv {
	display: flex;
	justify-content: flex-end;
	margin-top: 1em;
}

.btnDiv > button {
	outline: none;
	border: none;
	margin-left: 1em;
	padding: 0.5em 1em;
	border-radius: 0.4em;
	font-size: 1em;
	background-color: var(--green-darkest);
	color: var(--bg);
	cursor: pointer;
}

.btnDiv > button:first-child {
	background-color: inherit;
	color: var(--green-darkest);
}

.noUserOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.noUserOverlay p {
	font-weight: 600;
}

.noUserOverlay a {
	color: var(--green-darkest);
}

.reaction {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	padding: 0 1em;
	margin-bottom: 0.5em;
}

.reaction > button {
	flex: 1;
	height: 3em;
	border-radius: 0.5em;
	outline: none;
	border: none;
	color: var(--green-darkest);
	background-color: var(--bg-dark);
	font-size: 1.25em;
	transition: background-color 0.15s;
}

.reaction > button:hover {
	background-color: var(--bg-darker);
}

.reaction > button:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

.reaction > button[data-liked='true'] {
	background-color: var(--green-darkest);
	color: var(--bg-dark);
}

.reaction > button:first-child span {
	margin-left: 0.5em;
}

.editDiv {
	margin-top: 0.25em;
	display: flex;
	justify-content: flex-end;
	gap: 0.25em;
}

.editDiv button {
	cursor: pointer;
	background-color: var(--green-darkest);
	color: var(--bg-dark);
	outline: none;
	border: none;
	padding: 0.75em 1.25em;
	border-radius: 0.5em;
}
