.container {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	background-color: var(--bg);
	height: 100%;
	padding: 1em;
	display: flex;
	flex-direction: row;
}

.mainSection {
	flex: 4;
	background-color: var(--bg-dark);
	margin-right: 1em;
	border-radius: 1em;
	padding: 1em;
}

.mainSection > div {
	margin-bottom: 1em;
}

.mainSection > div > h1 {
	margin-bottom: 0.25em;
}

.menu {
	flex: 1;
	position: sticky;
	top: calc(8vh + 2em);
	background-color: var(--bg-dark);
	border-radius: 1em;
	padding: 0.5em 1em;
	min-height: 10vh;
	max-height: calc(92vh - 3em);
}

.menu > h3 {
	text-align: center;
	margin-bottom: 0.5em;
}

.menu > ul {
	list-style-type: none;
}

.tabItem {
	margin-bottom: 0.5em;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	background-color: inherit;
	transition: background-color 0.25s;
	cursor: pointer;
}

.tabItem[data-onfocus='true'] {
	background-color: var(--bg-darker);
	cursor: default;
	font-weight: 600;
}

.tabItem[data-onfocus='false']:hover {
	background-color: var(--bg-darker);
}

.line {
	height: 0;
	width: 100%;
	border-top: 1px solid var(--text);
	margin-bottom: 0.5em;
}

.matchBlock > p {
	margin-top: 0.5em;
	width: 100%;
	text-align: center;
	font-style: italic;
}

.matchItem {
	display: flex;
	width: 100%;
	height: 5em;
	padding: 0 1em 1em;
}

.team {
	flex: 4;
	padding: 0 1em 0 1em;
	display: flex;
	align-items: center;
}

.team:first-child {
	flex-direction: row-reverse;
}

.team > img {
	display: inline-block;
	aspect-ratio: 1;
	height: 80%;
	margin: 0 0.5em;
	border-radius: 1000px;
}

.result {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.result > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.result > span:nth-child(2) {
	margin: 0 1em;
}

.normalRes > span {
	font-weight: 600;
}

.pres > span {
	font-style: italic;
}

.listMatch {
	list-style-type: none;
	background-color: var(--bg-darker);
	border-radius: 0.5em;
	overflow: hidden;
}

.listMatch > li {
	border-radius: 0.5em;
	cursor: pointer;
}

.listMatch > hr {
	margin: 0 2em;
}

.listMatch > div:last-of-type hr {
	display: none;
}

.matchPItem > div:first-child {
	display: flex;
	width: 100%;
	height: 5em;
	padding: 1em;
}

.pteam {
	flex: 2;
	padding: 0 1em 0 1em;
	display: flex;
	align-items: center;
}

.pteam:first-child {
	flex-direction: row-reverse;
}

.pteam > img {
	display: inline-block;
	aspect-ratio: 1;
	height: 80%;
	margin: 0 0.5em;
	border-radius: 1000px;
}

.presult {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.presult > span:nth-child(2) {
	margin: 0 1em;
}

.matchPItem > div:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.5em;
}

.matchPItem > div:last-child p {
	font-size: 0.85em;
	font-style: italic;
}

.date {
	display: flex;
	justify-content: center;
	align-items: center;
}

.date ul {
	max-width: 50vw;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.date ul li {
	text-align: center;
	width: 10em;
	background-color: var(--bg-darker);
	display: block;
	padding: 0.25em 0.5em;
	margin: 0 0.5em;
	border-radius: 0.25em;
	cursor: pointer;
}

.selectedDate {
	background-color: var(--green-darkest) !important;
	color: var(--bg);
}

.lH1 {
	width: 100%;
	text-align: center;
}

.lDiv {
	margin-bottom: 1em;
}
