@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media (min-width: 1200px) {
	:root {
		font-size: 16px !important;
	}
}

:root {
	font-size: 12px;
	font-family: 'Inter', sans-serif;
	--bg: #fff;
	--bg-dark: #f0f2f5;
	--bg-darker: #dadada;
	--text: #111;
	--text-light: #161616;
	--text-lighter: #222;
	--green-darkest: #1c6758;
	--green: #309180;
	--gray: #888;
	--gray-50: rgba(128, 128, 128, 0.5);
	--gray-25: rgba(128, 128, 128, 0.25);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	min-height: 100vh;
	background-color: var(--bg-dark);
}

a {
	text-decoration: none !important;
}

body:has(div.delModal) {
	overflow-y: hidden;
	padding-right: 15px;
}
